/*Just to make it a bit nice*/
/*body {
  font-family: 'Source Code Pro', sans-serif;
}*/
.wrap {
  padding: 1% 9%;
  margin-bottom: 6vh;
}
#bunge-title{
  font-family:"Bungee";
}
h2 {
  margin-top: 3em;
  color: grey;
}
h2:first-child {
  margin-top: 0;
}

/* Now that is interesting*/
.underlined {
  color: black;
  flex: 1;
  /*font-size: 2em;*/
  /*line-height: 1.2;*/
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined--thin {
  background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
  background-position: 0 -0.1em;
}
.underlined--offset {
  background-position: 0 0.2em;
  /*didn't find another solution than mask the underline shape by a box shadow with the same color than the bg*/
  box-shadow: inset 0 -0.5em 0 0 white;
}
/*.underlined--gradient {
  background-position: 0 -0.1em;
  background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}*/
.underlined--reverse {
  background-position: 100% -0.1em;
  transition: background 1s; /*yep, that's a long link*/
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}

.parrafo {
  text-align: center;
}

.parrafo2 {
  text-align: justify;
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  h1 { font-size: 180%; }
  h2 { font-size: 150%; }
  
}
