/*Just to make it a bit nice*/
/*body {
  font-family: 'Source Code Pro', sans-serif;
}*/
.wrap {
  padding: 1% 9%;
}
h2 {
  margin-top: 3em;
  color: grey;
}
h2:first-child {
  margin-top: 0;
}

/* Now that is interesting*/
.underlined {
  color: black;
  flex: 1;
  /*font-size: 2em;*/
  /*line-height: 1.2;*/
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined--thin {
  background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
  background-position: 0 -0.1em;
}
.underlined--offset {
  background-position: 0 0.2em;
  /*didn't find another solution than mask the underline shape by a box shadow with the same color than the bg*/
  box-shadow: inset 0 -0.5em 0 0 white;
}
.underlined--gradient {
  background-position: 0 -0.1em;
  background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--reverse {
  background-position: 100% -0.1em;
  transition: background 1s; /*yep, that's a long link*/
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}

.parrafo {
  text-align: center;
}

.parrafo2 {
  text-align: justify;
}

/*.row {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}*/

/*car
Thanks to https://3dtransforms.desandro.com/card-flip
.contentcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: blue;
}

.scene {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  perspective: 800px;
  flex-direction: column;
}
  .card {
    position: relative;
    width: 100%;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
  }
  .card:hover {
      transform: rotateY(0.5turn);
    }

    .card__face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transition: 1s ease-in-out;
      -webkit-box-reflect: below 0
        linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
    }
    #imagecard {
        width: 240px;
        height: 300px;
        object-fit: cover;
      }

      .card__face--back {
        transform: rotateY(0.5turn);
      }
    
      .texto-encima{
        position: absolute;
        top: 10px;
        left: 10px;
*/
