/*RESET*/

/*HEADER BOXPARK*/
body ::selection {
    background-color: #7289DA;
    color:white;
}
.header-boxpark-container{
   background-image: url(../img/boxpark-header-img.jpeg);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}

.header-boxpark-title-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 700px;
}

.header-item {
    color:white;
}
.header-item h1 {
    font-size: 4rem;
    width: 100%;
}
#h3-boxpark {
  font-size: 2.5rem;
}



/*TRUSTPILOT SECTION */
.trustpilot-container {
    margin: 0 auto;
    min-width: 300;
    max-width: 700px;
    padding: 30px 0;
}
.trustpilot-img-container{
    background-image: url('../img/trustpilot2.png');
    width: 100%;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px
}








/* FIRST SECTION CARDS */

.first-boxpark-container{
   /* border: 1px solid red;*/
    padding: 20px;
}
.first-boxpark-small {
    width: 100%;
    /*border: 1px solid green;*/
    height: 100%;

}

.h2-first-boxpark{
    text-align: center;
}

.articles-first-container{
    display: flex;
    justify-content: space-around;
    flex: wrap;
    margin: 0 auto;
    /*border: 1px solid yellow;*/
    width: 90%;
    
}

.article-first {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    height: 500px;
    width: 330px;
    padding-right: 10px;
    display: inline-block;
    /*border: 1px solid black;*/
}
#article-img-first1 {
  height: 300px;
  width: 330px;
}
#article-img-first2 {
  height: 300px;
  width: 330px;
}
#article-img-first3 {
  height: 300px;
  width: 330px;
}
.article-first-body {
    margin-bottom: 19px;
}
.article-first-title{
    text-align: center;

}

.article-first-text{
    padding: 10px;
    width: 260px;
    margin: 0 auto;
    text-align: center;
}

.article-first-button {
    padding: 10px;
    text-align: center;
    width: 0 auto;
    
}
#first-section-button{
    background-color: #7289DA;
    width: 200px;
    height: 20px;
    padding: 20px;
    border: 2px solid black;

}
#first-section-button:hover{
    background-color: black;
    color:white;
    width: 200px;
    height: 20px;
    padding: 20px;
    border: 2px solid black;

}









/*SECOND SECTION*/

.second-container {
    width: 100%;
    height: 410px;
}

.second-container-small {
    margin: 0 auto;
    height: 90%;
    width: 70%;
    display: flex;
    flex: row wrap;
    justify-content: space-evenly;
}

.second-container-left {
    height: 100%;
    width: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url('../img/bar2.jpg');
}

.second-container-right {
    height: 100%;
    width: 300px;
    height: 100%;
    padding: 0px;
}

.learn-more {
    color: black;
}

.learn-more:hover{
    color: #7289DA ;
}


/*STRIP SECTION*/
.strip-container{
    background-color: white;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
}
.strip-container-small {
    margin: 0 auto;
    height: 90%;
    width: 80%;
 
   /* border: 1px solid red;*/
}

.small-container-logos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.logo-article-body{
    width: 330px;
    height: 180px;

}

.small-container-button{
    text-align: center;
    
}
#strip-button {
    background-color: #7289DA;
    width: 200px;
    height: 20px;
    padding: 20px;
    border: 2px solid black;
}

#strip-button:hover {
    background-color: black;
    color:white;
    width: 200px;
    height: 20px;
    padding: 20px;
    border: 2px solid black;
}

.logo-article-logo {
  height: 100px;
  width: 300px;
  background-image: url(../img/);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#logo-logo-section {
   padding: 30px;
   color:black;
   height: 30px;
 
}
.fa .fa-cutlery{
 color: white;
}

/*TESTIMONIAL SECTION*/

.img-boxpark-testimonial{
    background-image: url('../img/balls.jpg');
    
}

/*TESTIMONIAL SECTION 2*/

.slider-container{
    background-color: #213852;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slider-container-big {
    display: flex ;
    place-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.slider-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    color: white;
}
.slider-title p {
    font-size: 20px;
}
#slider-container-small {
    height: 300px;
    width: 85vw;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
#slider-container-small .btn-container{
  
  }
#slider-container-small .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid pink;
    border-top: 8px solid pink;
  }
  
#slider-container-small .btn:hover {
    transform: scale(1.2);
    border-left: 8px solid #7289DA;
    border-top: 8px solid #7289DA;
  }
  
#slider-container-small .btn.inactive {
    border-color: rgb(153, 121, 126)
  }
  
#slider-container-small .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
#slider-container-small .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
#slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
}

.img-container-slider{
    width: 100%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
  
#img-slider-1 {
    width: 100%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/ping-pong.jpeg);
}
  
#img-slider-2 {
    width: 100%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/minigolf.jpeg);
}
#img-slider-3 {
    width: 100%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/hachazo.jpeg);
  }
  #img-slider-4 {
    width: 100%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/midnight-runners.jpeg);
  }
  #img-slider-5 {
    width: 100%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/boulder-madrid.jpeg); 
  }
  #img-slider-6 {
    width: 100%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-image: url(../img/goiko.jpeg); 
  }
  #slider-container-small #slider .slide {
    height: 90%;
    margin: auto 10px;
    display: grid;
    place-items: center;
  }
  
  #slider-container-small #slider .slide span {
    color: white;
    font-size: 150px;
  }
  
  @media only screen and (min-width: 1100px) {
  
    #slider-container-small #slider .slide {
      width: calc(2.5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
  
    #slider-container-small #slider .slide {
      width: calc(3.3333333% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    #slider-container-small #slider .slide {
      width: calc(5% - 20px);
    }
  
  }
  
  @media only screen and (max-width: 550px) {
  
    #slider-container-small #slider .slide {
      width: calc(10% - 20px);
    }
  
  }

/*SLIDER MODALS*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }


/*TEXT CONTAINER*/

.main-boxpark-container{
    /*background-color: #E8E3D9;*/
}
.text-container-boxpark{
    font-family: 'MonserratBold';
    margin: 0 auto;
    

}


/*MOBILE TRUSTPILOT*/

@media (max-width: 1212px) {
   
  
}

@media (max-width: 1040px) {
 
 
}
@media (max-width: 1017px) {
 

  
}

@media (max-width: 971px) {

}
  


@media (max-width: 869px) {
 
 

@media (max-width: 633px) {
  .trustpilot-img-container{
    background-image: url(../img/trustpilot3.png);
    width: 70%;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px auto;
  }
}


@media (max-width: 576px) {

}
@media (max-width: 512px) {
  .articles-first-container {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 441px) {
  .trustpilot-img-container{
    width: 60%;
    background-size: contain;

  }
}

@media (max-width: 380px) {
  .trustpilot-img-container{
  }
  .first-boxpark-container{
    padding: 0px;

  }
 .first-boxpark-small {
     width: 100%;
     /*border: 1px solid green;*/
     height: 100%;

 }
 .articles-first-container{
   width: 80%;
 }
}
