#bunge-title{
    font-family:"Bungee";
}
/*tag*/
.span-1 {
    width: 32.26%;
}

/*inputs*/
.span-2 {
    width: 66.13%;
}
.col {
    /*display: flex;*/
    /*float: left;*/
    margin: 1% 0 1% 1.6%;
    margin-left: 0;
}

.rows {
    display: flex;
    max-width: 94%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 100%;
    margin: 6vh auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .contact-form {width: 90%; }
}
  