@media (max-width: 1349px) {
   


    .h5-pack-card{
        font-size: 1.2em;
    }
    .p-pack-card{
        font-size:0.7em;
        
      }
  

    
}

@media (max-width: 1212px) {
   
    
    .box{
        width: 40%;
    }

    
  

    
}

@media (max-width: 1206px) {
    .property-card{
        width:31%;
        height: 16em;
    }
    .p-pack-card{
        font-size:0.8em;
        
      }
}

@media (max-width: 1196px) {
    .btn-nav{
        font-size:1em;
      
          
    }
    
}
@media (max-width: 1063px) {
    .btn-nav{
        font-size:0.9em;
      
          
    }
    
}



@media (max-width: 1017px) {
   
    .saved-course {
        display: flex;
        flex-flow: row wrap;
        
    }
    .saved-div{
        background:rgb(4, 221, 4);
    }

    
    .nav{
  
        width:80%;
        
    }
    
}

@media (max-width: 971px) {
   
    
    
    .content-wrapper{
        display: flex;
        flex-flow: column wrap;

    }
    .box{
        width: 100%;
        position: relative;
        margin-top:30px;
        margin-bottom:30px;
        margin-left: 2%;
    }
    .img-container{
        width: 100%;
        height: 300px;
    
    }
    .container-box-img{
        height: auto;
    }
    .img-box{
        width: 100%;
        margin-left: 30px;
        margin: 2%;
    }
    
}
    
@media (max-width: 889px) {
   
    .btn-nav{
        font-size:0.8em;
      
      
    }
}


@media (max-width: 869px) {
   
    .header-nav{
        display: none;
        
    }
    .secundary-nav{
        display: flex !important;
    }
    #courses-container {
        flex-flow: column wrap;
        width: 90%;
        align-items: center;
    }
    .course{
        width: 70%;
        padding: 10px;
    }
    .description-info{
        padding: 20px;
    }
    
    .header-text-container{
        font-size: 24px;

    }
    .p-pack-card{
        font-size:0.7em;
        
      }
    
}

@media (max-width: 778px) {
    .property-card{
        width:80%;
        height: 16em;
    }

    .p-pack-card{
        font-size:0.9em;
        
      }
    
}


@media (max-width: 633px) {
    
    .activity-type-description{
        font-size: 20px;
    }
    .header-text-container{
        font-size: 20px;

    }
}


@media (max-width: 576px) {
    .row{
        width: 75%;

    }
    .property-card{
        width:80%;
    }
    .p-pack-card{
        font-size: 15px;

    }
    .h5-pack-card{
        font-size: 1.5em;
    }
    .header-text-container{
        display:none;

    }
   
}

@media (max-width: 536px) {
    .title-course{
        margin-bottom: 10px;
    }
   .course{
       padding: 20px;
   }
}

@media (max-width: 512px) {
   
    .heading-main{
        font-size: 30px;
    }
    .heading-secondary{
        font-size: 35px;
    }
    .box p{
        font-size: 15px;
    }
    .button-wrapper{
        width:90%;
    }

    .p-pack-card{
        font-size:0.8em;
        
      }
}

@media (max-width: 441px) {
   
    .heading-main{
        font-size: 25px;
    }
    .heading-secondary{
        font-size: 30px;
    }
    .box p{
        font-size: 13px;
    }
}

