/* FUENTES */

@font-face{
    font-family: "MonserratFontCustom";
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face{
    font-family: "MonserratBold";
    src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf");
}

@font-face{
    font-family: "icons";
    src: url("fonts/web-symbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
        url("fonts/web-symbols/websymbols-regular-webfont.eot");
    src: url("fonts/web-symbols/websymbols-regular-webfont.eot#iefix") format("embedded-opentype"),
        url("fonts/web-symbols/websymbols-regular-webfont.woff") format("woff"),
        url("fonts/web-symbols/websymbols-regular-webfont.ttf") format("truetype");  
    font-weight:normal;
    font-style:normal;
}

/* GENERAL */

body{
    background-color: #FFFFFF;
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
    font-family: "MonserratFontCustom";

}
h2 h1{
    margin:0px;
}


/* INICIO ESTILOS CONTENIDO INDEX */

a{
    text-decoration: none;
}

#content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin:20px;
}
#header-container{
    width: 100%;
    margin: 0px;
    text-align: center;
    height: 700px;
    font-size:30px;
    text-shadow: 0 0px 15px #000;
    line-height: 700px;
    width: 100%;
    background-image: url("../img/adventure.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    

}



#title{
    color: #FEFEFE;
    font-family: "MonserratBold";
    transition: all 300ms;
   

}

#title:hover{
    transform: scale(1.15);
}


.container-box-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 20px;
}
.img-container{
    width: 40%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.img-one{
    background-image: url("../img/boxPark.jpg");
}
.img-two{
    background-image: url("../img/surf.jpg");
}

.img-three{
    background-image: url("../img/climbing2.jpg");
}

.box{
    position: absolute;
    z-index: 1;
    width:40%;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    background-color: #FFFFFF;
    margin-top: 30px;
    min-height: 300px;
    margin-left: -50%;
    padding: 2%;
    transition: all 300ms;

}

.box:hover{
    transform: scale(1.15);

}
.img-box{
    position: relative;
    margin-left: 400px;
}


.heading-main{
    font-family: "MonserratFontCustom";
    color: #CBCBCB;
    font-size: 35px;

    
}
.heading-secondary{
    font-family: "MonserratBold";
    color: #000000;
    font-size: 40px;

}

/* FIN ESTILOS CONTENIDO INDEX */

.navList{
    display: flex;
    justify-content: space-around;
    background: #000000;
    padding: 7px;
    height: 70px;
    list-style: none;
    align-items: center;
}

#header{
    margin: 0px;
}

.navA {
    color: #cccccc;
    text-decoration: none;
  }

/* Footer */
footer{
    border: 1px solid yellow;
    padding: 50px;
    background-color: #000;
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    border: 1px solid blue;
}
/*Footer left*/
.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
    border: 1px solid green;

}
.footer-left img {
    width: 50%;
    padding-top: 35px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer a{
    text-decoration: none;
}
/*Footer Right*/
.footer-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 5px 50px;
    border: 1px solid red;

}



/* Footer bottom*/
.footer-bottom {
    display: flex;
    justify-content: space-around;
}
.footer-bottom-left {
    text-align: left;
    padding-top: 70px;
    box-sizing: border-box;
}
.footer-bottom-right {
    text-align: right;
    padding-top: 70px;
    box-sizing: border-box;

}

/*@media screen and (min width: 600px){

}*/