/* FUENTES */

@font-face{
    font-family: "MonserratFontCustom";
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face{
    font-family: "Bungee";
    src: url("fonts/Bungee/Bungee-Regular.ttf");
}

@font-face{
    font-family: "MonserratBold";
    src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf");
}
@font-face{
    font-family: "MonserratItalic";
    src: url("fonts/Montserrat/Montserrat-Italic.ttf");
}
@font-face{
    font-family: "icons";
    src: url("fonts/web-symbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg'),
        url("fonts/web-symbols/websymbols-regular-webfont.eot");
    src: url("fonts/web-symbols/websymbols-regular-webfont.eot#iefix") format("embedded-opentype"),
        url("fonts/web-symbols/websymbols-regular-webfont.woff") format("woff"),
        url("fonts/web-symbols/websymbols-regular-webfont.ttf") format("truetype");  
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family: "Rye";
    src: url("fonts/Rye/Rye-Regular.ttf");
}
@font-face{
    font-family: "BungeeShade";
    src: url("fonts/Bungee_Shade/BungeeShade-Regular.ttf");
}
@font-face{
    font-family: "PermanentMaker";
    src: url("fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}

.bold{
    font-family: "MonserratBold";
    font-size: 30px;

}

.icon-cards{
    padding: 10px;
}

/* GENERAL */

body{
    background-color: #FFFFFF;
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
    font-family: "MonserratFontCustom";


}
h2 h1{
    margin:0px;
}


/* INICIO ESTILOS CONTENIDO INDEX */

.title-header{

    text-decoration: none;
    justify-content: center;
    color: black;
    text-shadow: 0px 3px 3px #333;
    margin-bottom: 15%;
}

#title-header:hover{
    text-decoration: none;
    color: #FEFEFE;
    text-shadow: 0px 3px 3px #333;
}


/*  
a{
    text-decoration: none;
    color: #FEFEFE;
    text-shadow: 0px 2px 2px #333;
}
a:hover{
    text-decoration: none;
    color: #FEFEFE;
    text-shadow: 0px 2px 2px #333;
}
*/
.btn-box{
    background-color: #7289DA;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    color: #000;
    font-family: "Bungee";
    transition: all 300ms;

}
.btn-box:hover{
    background-color: black;
    color:white;
    border: 2px solid black;;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%) ;
    

}

#content-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin:20px auto;
    
}


.header-container-index{
    display: flex;
    width: 100%;
}
.header-index-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 1300px;*/
    height:90vh;
    background-image: url("../img/boxPark.jpg");
    margin: 0px;
    justify-content: center;
    font-size: 30px;
    line-height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;

}
/*  
@keyframes backBanner{
    0%{
        background-position: 0px 0px;

    }
    100%{
        background-position: -200px -200px;

    }
}
*/

.header-text-container{
    display: flex;
    font-family: "Bungee";
    transition: all 300ms;
    width: 100%;
    justify-content: center;
    /* animation: showText 5s linear; */
   

}
/* @keyframes showText{
    0%{
        transform: translateX(-200%) scale(5,5);
        opacity:1;
    }
    50%{
        transform: translateX(200%) scale(5,5);
        opacity:1;   
    }
    75%{
        transform: translateX(-100%) scale(5,5);
        text-shadow: none;
        color: transparent;
        opacity:0;
    }
    100%{
        transform: translateX(0%) scale(1,1);
        text-shadow: 2px 2px 1px black;
        color:white;
        opacity:1;
    }
} */

.header-text-container:hover{
    transform: scale(1.15);
    color: #FEFEFE;


}


.container-box-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 40px;
    
}
.img-container{
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
.img-box{
    position: relative;
    margin-left: 400px;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
   
}

.img-one{
    background-image: url("../img/adventure.jpg")  !important;
}
.img-two{
    background-image: url("../img/surf.jpg");
    
}

.img-three{
    background-image: url("../img/climbing2.jpg");
}

.box{
    position: absolute;
    z-index: 1;
    width:30%;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    background-color: #FFFFFF;
    margin-top: 30px;
    min-height: 280px;
    margin-left: -30%;
    padding: 3%;
    transition: all 300ms;
    
}

.box:hover{
    transform: scale(1.15);

}


.heading-main{
    font-family: "MonserratFontCustom";
    color: #CBCBCB;
    font-size: 35px;

    
}
.heading-secondary{
    font-family: "Bungee";
    color: #000000;
    font-size: 40px;

}

/* FIN ESTILOS CONTENIDO INDEX */

/* NAVEGADOR */
.header-nav{
    display: flex;
    width: 100%;
    height: 10vh;
    flex-flow: row wrap;
    /*height: auto;*/
    align-items: center;
    background:#000000;
    justify-content: space-between;
    
}
.nav{
    display: flex;
    justify-content: flex-end;
    width:70%;
    font-family: "Bungee";
    
}
.nav-logo{
    height: 100%;
}
.img-nav{
    height: 100%;
    margin-left: 10%;

}
  
  .btn-nav{
    color:#FFFFFF;
    background:rgba(0, 0, 0, 0.5);
    
    padding:10px 20px;
    font-size:20px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-right: 20px;
  }
  
  .btn-nav:hover{
    border-radius: 15px;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    /*padding:20px 20px;*/ 
    color:#1b1b1b;
    transition: background-color 0.5s;
  }

